.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error {
    color: red;
    display: flex;
    align-items: center;
    gap: 5px;
}
