.container {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 10px;
}

.img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.price {
    font-weight: bold;
}

.link:hover {
    color: #fbbf24;
}

.infoContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rating {
    display: flex;
    gap: 5px;
}

.cart {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    border: none;
    background-color: #27272a;
    color: white;
}

@media (hover: hover) {
    .cart:hover {
        background-color: #a1a1aa;
        cursor: pointer;
    }
}
