.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.categories {
    width: 200px;
}

.products {
    flex: 1;
    max-width: 1500px;
}
