.container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.categories {
    width: 200px;
    background-color: white;
    border-radius: 5px;
}

.products {
    flex: 1;
    min-width: 400px;
    background-color: white;
    border-radius: 5px;
}
